@import 'variables';
@import 'mixin';

.power {
    font-size: 0;
    padding-top: 35px;

    .pow_col {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
    }

    .power_title {
        @include text-style(36px, 54px, $title-color);
        max-width: 539px;
        margin: 0 auto;
        text-align: center;
    }

    .pow_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #fff;
    }

    .pow_blocks:first-child .pow_icon {
       @include pow-icon-style();
        background-color: #7752BE;
        border: 1px;
        border-color: #7752BE;

    }

    .pow_blocks:nth-child(2) .pow_icon {
        @include pow-icon-style();
        background-color: #FAB005;
        border: 1px;
        border-color: #FAB005;

    }

    .pow_blocks:nth-child(3) .pow_icon {
        @include pow-icon-style();
        background-color: #F03E3D;
        border: 1px;
        border-color: #F03E3D;

    }

    .pow_icon:last-of-type {
        @include pow-icon-style();
        background-color: #4DADF7;
        border: 1px;
        border-color: #4DADF7;
    }

    .pow_blocks {
        display: inline-block;
        box-sizing: border-box;
        width: 25%;
        vertical-align: top;
        max-width: 220px;
        padding-top: 30px;
        text-align: left;
        margin-right: 35px;

        &:last-of-type {
            margin-right: 0;
        }


        .pow_h3 {
            @include text-style(22px, 33px, $title-color);
            max-width: 240px;
            margin-top: 5px;
            margin: 30px auto 0;
        }

        .pow_description {
            @include text-style(16px, 22px, $description-color);
            max-height: 52px;
            max-width: 220px;
            display: inline-block;
        }
    }

    .power_action {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        margin: 0 auto;
        text-align: center;

        .pow_button {
            @include button-styles($action-color, $white-color, $action-color);
            width: 175px;
            height: 53px;

            &:hover {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            }
        }
    }
}