
$action-color:#FF9900;
$title-color: #2F281E;
$description-color: #544837;
$header-button-border-color:#BCD0E5;
$white-color:#fff;
$header-button-text-color:#173A56;


$font-family:"Poppins", sans-serif;


$container-width: 1126px;
$container-padding: 90%;
