*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Aleo";
    src: url('./fonts/aleo.regular.otf') format("opentype");
    font-weight: 400; 
    font-style: normal;
  }


li{
    list-style: none;
} 

