.bhromaon {
    background-image: url(./img/bg_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;

    min-height: 100vh;
}

.nav_item {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Aleo', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    

    position: absolute;
    top: 88%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #5474FD;

    @media (max-width: 480px) {
        width:100vw;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;       
        gap: 20px;
        padding-top: 10px; 
        top:77%

    }
    @media (max-width: 768px) {
        width:100vw;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;       
        gap: 20px;
        padding-top: 10px; 
        top:77%

    }




    nav{
            display: flex;
            width: 100%;
            justify-content: center;
        }
   

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @media (max-width: 480px) {
            justify-content: flex-start;
            flex-direction: column;
            width: 100%; 
            gap: 0px;
            flex-wrap: wrap;    

            }
            @media (max-width: 768px) {
                justify-content: flex-start;
                flex-direction: column;
                width: 100%; 
                gap: 0px;
                flex-wrap: wrap;    
    
                }

        li { 

            a {
                font-size: 14px;
                line-height: 24px;
                font-family: 'Aleo';
            }

           :hover{
                
                color: rgb(248, 233, 213);
        } 
        @media (max-width: 480px) {
        
           text-align: center;    
           width: 100%;  
           min-height: 40px;;  
            }
            @media (max-width: 768px) {
        
                text-align: center;    
                width: 100%;  
                min-height: 40px;;  
                 }
        } 
    }

   
}
// .hamburger {
//     display: none;
//   }
//   @media screen and (max-width: 480px) {
//     .hamburger {
//       z-index: 3;
//       display: flex;
//       justify-content: space-between; 
//       width: 40px;
//       height: 7px;
//       background: transparent;
//       border: none;
//       position: relative;
//     }
//   }
//   @media (max-width: 480px) {
//     .hamburger .dot {
//       height: 7px;
//       width: 7px;
//       background-color: #bbb;
//       border-radius: 50%;
//       display: inline-block;
//     }
//   }
//   @media screen and (max-width: 480px) {
//     .hamburger .dot.is-active .dot:nth-child(1) {
//       transform: translateY(7px) rotate(45deg);
//     } 
//     .hamburger .dot.is-active .dot:nth-child(2) {
//       opacity: 0;
//     }
//     .hamburger .dot.is-active .dot:nth-child(3) {
//       transform: translateY(-7px) rotate(-45deg);
//     }
// }

.bhromaon_container {
    display: flex;
    width: 100%;
    max-width: 654px;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 50%;
    gap: 50px;

    transform: translate(-50%, 50%);

    @media (max-width: 768px) {
       
                top: 5%; 
                gap: 20px;
                max-width: 500px;
    }
    @media (max-width: 480px) {
        top: 2%;
        
        gap: 100px; 
        max-width: 301px;
    }
       

    .logo1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .big {
            font-family: 'Josefin Sans';
            font-weight: 700;
            font-size: 48px;
            text-transform: uppercase;
            color: #fff;
        }

        .small {
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 22px;
            color: #fff;
        }
    }

    .search_form {
        display: flex;
        width: 100%;
        max-width: 653px;
        justify-content: center;
        align-items: center;

        @media (max-width: 480px) {
            min-width: 140px;
        }
           
    }

    .field1 {
        display: flex;
        width: 100%;
        max-width: 653px;
        height: 63px;
        justify-content: center;
        align-items: center;
        min-height: 61px;
        border: none;

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 30px;
            max-width: 300px;
        }

        .field {
            display: flex;
            text-align: center;
            width: 100%;
            max-width: 500px;
            height: 63px;
            font-family: 'Josefin Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            border: 2px solid #fff;
            box-sizing: border-box;
            

            :focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }

            @media (max-width: 480px) {
               border: none;
                max-width: 300px;
                min-height: 50px;
            }

            @media (max-width: 768px) {
                border: none;
                 max-width: 300px;
                 min-height: 50px;
             }
         }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 153px;
            min-height: 63px;
            background-color: #5474FD;
            text-transform: uppercase; 
            color: #fff;
            font-family: 'Aleo', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            border-left: none; 
            box-sizing: border-box;
            cursor: pointer;
            transition: background-color 0.3s ease;

            .icon {
                padding-left: 10px;
            }

            @media (max-width: 480px) {
                
                max-width: 100%;
                min-height: 50px;
                border: none;
            }
            @media (max-width: 768px) {
                
                max-width: 100%;
                min-height: 50px;
                border: none;
            }



        }

    }

    button:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        background: #eeaa0e;
    }

    .scroll_element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

       .scroll_link{
        text-decoration: none; 
       }

        .scroll {
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 14px;
            color: #fff;
        }
    }

