.services{
    display: flex;
    flex-direction: column;
    display: flex;    
    margin-bottom: 200px;
}
.line{
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: 1px;
    background: #2C4058
}
.services_title{
   width: 100%;
   display: flex;  
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 54px;
   padding-bottom: 54px;
}

.services_title h2{
padding-top: 40px;
text-align: center ;
 color: #2C4058;   
 font-size: 44px;
 font-family: 'Montserrat', sans-serif ;
}

.services_container{
    width: 100%;
    max-width: 1170px;
    margin-top: 157px;
    display: flex;
    flex-direction: row;
    
}

.services_container_left{
    
    margin-right: 70px;
    position:relative;

}
.square_with_color{
    width: 100%;
    max-width: 585px;
    height: 100%;
    max-height: 470px;
    margin-bottom: 57px;
    background: #55B7FF;
    position: absolute;
    left: 0px;
    top: -57px;
    z-index: -1;
}
.services_img {
    width: 100%;
    height: 100%;
    max-width: 630px;
    max-height: 470px;
    margin-left: 190px;
}


.services_container_right{
padding-top: 90px;
padding-bottom: 30px;
width: 100%;
min-width: 470px;
box-sizing: border-box;

}
.container_right_title{
    margin-bottom: 40px;
}
.container_right_title h3{
    font-family: 'Montserrat', sans-serif ;
    font-size: 22px;
    font-weight: 400;
    color:#2C4058;
}
.container_right_title h2{
    font-family: 'Montserrat', sans-serif ;
    font-size: 44px;
    font-weight: 700;
    color:#2C4058;
}
.container_right_content{
    font-family: 'Open Sans', sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color:#2C4058;
    margin-bottom: 30px;
}
.container_right_button{
    width: 190px;
    height: 50px;
    margin-bottom: 55px;
    border:1px solid #2C4058;
    background: transparent;
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    color:#000;
   
    transition:transform 0.2s ease; 
    cursor: pointer; 
}
.container_right_button:hover{
    border:2px solid  #2C4058;  
    transform: scale(1.1); 
}

.address{
    font-family: 'Open Sans', sans-serif ;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color:#000
}
.fa-solid.fa-location-dot {
margin-right: 10px;
}

.services_second{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 140px;
}

.services_container_second{
    width: 100%;
    max-width: 1170px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction:row-reverse;
    
}
.services_container_left_second{
    margin-left: 70px;
    position: relative;
}
.services_img_second {
    width: 100%;
    height: 100%;
    max-width: 630px;
    max-height: 470px;
    margin-right: 190px;
}
.square_with_color_second{
    width: 100%;
    max-width: 585px;
    height: 100%;
    max-height: 470px;
    margin-bottom: 57px;
    background: #7E5AFF;
    position: absolute;
    right: 0px;
    top: -57px;
    z-index: -1;
} 
.services_container_right_second{
    padding-top: 90px;
    width: 100%;
    min-width: 480px;
    box-sizing: border-box;
      
}
